# Ignore the build directories
build
plugin/*/build
test/*/build
debian-packages
rpm-packages

# Ignore compiled Python files and shared object files
plugin/*/*.so
plugin/*/*/*.so
adaptor_plugin/*/*/*.so
__pycache__/
**/__pycache__/
plugin/torch/flagcx/lib/
plugin/torch/dist/

# Ignore egg-info directories
*.egg-info/
plugin/*/*.egg-info

# Ignore vscode workspace folder
.vscode
# Ignore gtest recorder output file
Recorder.out
